@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Louis George Cafe;
    font-weight: 300;
    src: url(/fonts/louis-george-cafe/300-light.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: Louis George Cafe;
    font-weight: 400;
    src: url(/fonts/louis-george-cafe/400-regular.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: Louis George Cafe;
    font-weight: 700;
    src: url(/fonts/louis-george-cafe/700-bold.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: Roustel;
    font-weight: 400;
    src: url(/fonts/roustel/400-regular.ttf) format('truetype');
    font-display: swap;
  }
}

:focus {
  @apply focus:ring-primary focus:border-primary;
}

option:focus-within {
  @apply bg-primary;
}
